.git
.env
.envrc
dist
*.previous
*.staging.*
*.log
bosh/
bosh.env
cf.yml
ops-enable-mtls-app-routing.yml
tmp.*
nix-*/
collie-activity-*/
web/node_modules
web/dist
data/
**/*_test.go
**/*.test.tsx
**/*.test.ts
