.git
.env
.envrc
dist/
manager-runtime/
sandbox/runtime/
*.previous
*.staging.*
*.log
bosh/
bosh.env
cf.yml
ops-enable-mtls-app-routing.yml
tmp.*
nix-*/
collie-activity-*/
.devbox/
collie/.devbox/
collie/node_modules/
collie/web/node_modules/
collie/bin/
collie/web/dist/
collie/dist-staging/
web/node_modules
web/dist
data/
**/*_test.go
**/*.test.tsx
**/*.test.ts
